#studentId {
  width: 200px;
}

#lesson-scheduling-form-div {
  border-radius: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  color: black;
  padding: 10px 30.5px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.small-label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
}

#time-interval-select {
  width: 150px;
}

.time-interval-select,
.lesson-duration-input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#lesson-duration-input {
  width: 200px;
}

.date-picker {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.time-interval-select {
  appearance: none;
  border: 2px solid #ccc;
}

.date-picker {
  outline: none;
  border: 2px solid #ccc;
}

.lesson-duration-input {
  width: 60px;
  border: 2px solid #ccc;
}

#submit-button  {
  background-color: #1d2a6e;
  color: white;
  border: none;
  padding: 7px 17px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#submit-button:hover {
  background-color: #364696;
}