.home-container {
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.student-form-container,
.update-records-container,
.student-records-container {
  border: 1px solid #ccc;
  background-color: #fafafa;
}

.student-records-container {
  padding-top: 20px;
}