#studentTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
}

#studentTable th, #studentTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

