#form-container {
  background-color: #fafafa;
}

#studentForm {
  border-radius: 42px;
  height: 580px;
  background-color: white;
}

#studentForm label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

#studentForm input {
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px #f0f0f0;
}

#studentForm select {
  width: 100%;
  box-shadow: 1px 1px #f0f0f0;
}

#submitButton {
  color: white;
  background-color: #0f2e75;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  font-weight: bold;
}

#submitButton:hover {
  background-color: #224699;
}

#submit-text {
  font-size: 16px;
}