input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#changeFnButton {
    background-color: #fa8c8c;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#changeFnButton:hover {
    background-color: #e65c5c;
}

#changeLnButton {
    background-color: #9b6bfa;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#changeLnButton:hover {
    background-color: #734dbd;
}

#changeAgeButton {
    background-color: #66cc99;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#changeAgeButton:hover {
    background-color: #4fa874;
}

#changePhoneNumberButton {
    background-color: #6699cc;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#changePhoneNumberButton:hover {
    background-color: #4d7eaa;
}

#changeInstrumentButton {
    background-color: #cc99cc;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#changeInstrumentButton:hover {
    background-color: #a674a6;
}

#studentIdLabel, #fieldLabel {
  font-weight: bold;
}

.updateSubmitButton {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.updateSubmitButton:hover {
    background-color: #0056b3;
}

#deleteStudentId {
  width: 200px;
}

#deleteStudentButton {
    background-color: #112469;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteStudentButton:hover {
    background-color: #516ac4;
}

#clearButton {
    background-color: #a31c35;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clearButton:hover {
    background-color: #c23852;
}

#update-student-records-div {
  padding-left: 15px;
  padding-top: 10px;
}

#delete-student-records-div {
  padding-left: 15px;
  padding-top: 10px;
}