#update-records-container {
  background-color: #fafafa;
}

#update-student-records-div {
  padding-right: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#studentIdLabel, #fieldLabel {
  font-weight: bold;
}

.updateSubmitButton {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.updateSubmitButton:hover {
    background-color: #0056b3;
}

#deleteStudentId {
  width: 200px;
}

#deleteStudentButton {
    background-color: #112469;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteStudentButton:hover {
    background-color: #516ac4;
}

#clearButton {
    background-color: #a31c35;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clearButton:hover {
    background-color: #c23852;
}

#update-student-records-div {
  padding-left: 15px;
  padding-top: 8px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
}

#delete-student-records-div {
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: white;
}