.lesson-scheduling {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1000px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
  padding: 20px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#studentId {
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #9e7c39;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  color: black;
  padding: 10px 30.5px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.time-interval-select,
.lesson-duration-input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.date-picker {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.time-interval-select {
  appearance: none;
  border: 2px solid #ccc;
}

.date-picker {
  outline: none;
  border: 2px solid #ccc;
}

.lesson-duration-input {
  width: 60px;
  border: 2px solid #ccc;
}

.rbc-calendar {
  height: 500px;
  width: 100%;
}

.rbc-event:hover {
  background-color: red;
  color: red;
}

.rbc-event {
  background-color: #5487ff;
  position: relative;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
}

.delete-button {
  font-size: 15px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rbc-event:hover .delete-button {
  display: block;

}

.delete-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border: none;
  padding: 2px 6px;
  border-radius: 5px;
  cursor: pointer;
}