.payment-tracker {
  margin-left: 200px;
}

.payment-container,
.payment-records-container,
.payment-deletion-container {
  margin-top: 20px;
  margin-right: 30px;
  background: linear-gradient(to left, #191657, #3f87a6, #97decc, #3f87a6, #191657);
}

