.payment-deletion-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.payment-submit-header {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  background-color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #edd995;
}

.payment-id-input {
  width: 40%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 125px;
}

.delete-single-button,
.delete-all-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.delete-single-button:hover,
.delete-all-button:hover {
  background-color: #0056b3;
}

.single-deletion,
.delete-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.payment-deletion-container {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  align-items: center;
  justify-content: center;
  background-color: #dbc374;
  border: 4px solid #a68929;
}
